<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), browse_path %>
<a href="#footer"><h1>ABOUT</h1></a>


<body>
  
  <div id="slide1">
  
    <div class="slide_inside">          
      
      <span>COMIC BUBBLE</span>
      
    </div> 
            
  </div> 
  
  
  <div id="slide2">
    
    <div class="slide_inside">
    
      <span>ABOUT US</span>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis illo labore hic iste quos aspernatur, exercitationem! Corporis eveniet veniam necessitatibus quidem ea laboriosam impedit. Voluptas debitis officiis iste ex quis.</p>
  
      <p>Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik en compagnie de Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !</p>
      
      
    </div>   
      
  </div> 
  
  
  <div id="slide3">
  
    <div class="slide_inside">      

      <span>CREDITS</span>    
      
        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, numquam aliquid omnis nihil autem accusamus commodi expedita sunt! Ea error id laudantium inventore nisi earum explicabo repellat eaque eos hic.</p>

      <p>Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci vielmols mais che dois partir à la Coopé de Truchtersheim acheter des mänele et des rossbolla pour les gamins. Hopla tchao bissame ! Consectetur adipiscing elit</p>
       
      
    </div>    
    
  </div> 


</body>
</html>
