<!-- <section id="main">
  <div id="cube-controls">
    <ul class="clearnav">
      <li>
        <div class="undo"data-tooltip="Undo"><img src="home.jpg" style="width:100px; height:100px"></div>            
      </li>
      <li>
        <div class="redo"data-tooltip="Redo"><img src="home.jpg" style="width:100px; height:100px"></div>
      </li>
      <li>
        <div  class="solve"data-tooltip="Reset"><img src="home.jpg" style="width:100px; height:100px"></div>
      </li>
      <li id="rotation">
        <div class="rotate"data-tooltip="Rotate"><img src="home.jpg" style="width:100px; height:100px"></div>
      </li>
    </ul>
  </div>   
</section>
<div id="down">
</div> -->