<a href="#footer"><h1>ABOUT</h1></a>


<body>
  
  <div id="slide1">
  
    <div class="slide_inside">          
      
      <span><img src="/assets/comic_bubble_logo.png" style="width:220px;height:120px"></span>
      
    </div> 
            
  </div> 
  
  
  <div id="slide2">
    
    <div class="slide_inside">
    
      <span>ABOUT US</span>

      <p>Lorem ipsum dolor sit amet, in vis vidit homero atomorum. Vel ea legere aliquid, ad cum apeirian phaedrum rationibus. Tritani perpetua pericula et duo, nam facer libris melius et. Eum brute harum no, accusam liberavisse mediocritatem vis ei, minim inimicus eos id.</p>
  
      <p>Lorem ipsum dolor sit amet, in vis vidit homero atomorum. Vel ea legere aliquid, ad cum apeirian phaedrum rationibus. Tritani perpetua pericula et duo, nam facer libris melius et. Eum brute harum no, accusam liberavisse mediocritatem vis ei, minim inimicus eos id.</p>
      
      
    </div>   
      
  </div> 
  
  
  <div id="slide3">
  
    <div class="slide_inside">      

      <span>CREDITS</span>    
      
        
      <p>Lorem ipsum dolor sit amet, in vis vidit homero atomorum. Vel ea legere aliquid, ad cum apeirian phaedrum rationibus. Tritani perpetua pericula et duo, nam facer libris melius et. Eum brute harum no, accusam liberavisse mediocritatem vis ei, minim inimicus eos id. In mei quaeque concludaturque. Possit meliore imperdiet ex mel, duo at rebum dicunt dissentiunt.</p>

      <p>Lorem ipsum dolor sit amet, in vis vidit homero atomorum. Vel ea legere aliquid, ad cum apeirian phaedrum rationibus. Tritani perpetua pericula et duo, nam facer libris melius et. Eum brute harum no, accusam liberavisse mediocritatem vis ei, minim inimicus eos id.</p>
       
      
    </div>    
    
  </div> 


</body>
</html>
