<h1>BROWSE</h1>

<p> 

<%# @issues.to_a.each do |issue| %>
<%#= issue.name %>
<%# raise %>
<%#= issue.description.try(:html_safe) %><br>
<%#= image_tag(issue.image["thumb_url"]) %>
<!-- Issue #   --><%#= issue.issue_number %><br>
<%# end %>
</p>
