
<a href="#footer"><h1><form action="/search" method="get">
  <input name="search" type="search" placeholder="Search"  > 
  <input name="volumes" type="checkbox" value="volumes" class="Volumes"data-tooltipa="Volumes" checked> 
  <input name="movies" type="checkbox" value="movies" class="Movies"data-tooltipa="Movies">
  <input name="issues" type="checkbox" value="issues" class="Issues"data-tooltipa="Issues">
  <input name="characters" type="checkbox" value="characters" class="Characters"data-tooltipa="Characters"> 
  <input value="Search" type="submit">
</form></h1></a>




<% if @results %>
  <% @results.to_a.each do |result| %>
    <p>
    <div class="album_container"> 

        <%#= result.description.try(:html_safe) %>
        <% if result.image.present? %>
        <%= image_tag(result.image["small_url"], height: '160', width: '110', class: "album_float_left") %><br>
        <% else %>
        <%= image_tag("no_comic_cover.jpg", height: '160', width: '110', class: "album_float_left")  %><br>
        <% end %>
    </p>

        <div class="album_float_right">
            <strong><%= result.name %></strong>
        </div>
    </div>
  <% end %>
<% else  %>

<h2>NOT FOUND</h2>
<% end %>

