<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), browse_path %> 
<a href="#footer"><h1>CHARACTER</h1></a>


      

    <% @characters.to_a.each do |character| %>
        <p>
        <div class="album_container"> 

            <%#= character.description.try(:html_safe) %>
            <% if character.image.present? %>
            <%= image_tag(character.image["small_url"], height: '160', width: '110', class: "album_float_left") %><br>
            <% else %>
            <%= image_tag("no_comic_cover.jpg", height: '160', width: '110', class: "album_float_left")  %><br>
            <% end %>
        </p>

            <div class="album_float_right">
                <strong><%= character.name %></strong>
            </div>
        </div>
    <% end %>
       

        