<h1>CHARACTER</h1>



      <p>

        <% @characters.to_a.each do |character| %>
        <%= character.name %>
        <%#= character.description.try(:html_safe) %><br>
        <% if character.image.present? %>
        <%= image_tag(character.image["small_url"], height: '160', width: '110') %><br>
        <% else %>
        <%= image_tag("no_comic_cover.jpg", height: '160', width: '110')  %><br>
        <% end %>
        <% end %>
        </p>
