<header>
  <%= image_tag("comic_bubble_logo.png", width: '250') %>
</header>


  <div id="vis"></div>
  <!-- <div id="status"></div> --> <!--this tells which bubble is selected -->
  <!-- <div id="controls"> -->
  <!--  <h3>Jitter</h3> -->
       <!--  <form id="jitter" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
          <input id="jitter_input" type="range" min="0" max="400" value="100" style="width:240px;">
          <output name="output" for="input">0.5</output> -->
          <!-- </form> -->
        </div>
   
