<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), browse_path %> 
<a href="#footer"><h1>ISSUE</h1></a>



        <% @issues.to_a.each do |issue| %>
            <p>
            <div class="album_container"> 

                <%#= issue.description.try(:html_safe) %>
                <% if issue.image.present? %>
                <%= image_tag(issue.image["small_url"], height: '160', width: '110', class: "album_float_left") %><br>
                <% else %>
                <%= image_tag("no_comic_cover.jpg", height: '160', width: '110', class: "album_float_left")  %><br>
                <% end %>
            </p>

                <div class="album_float_right">
                    <strong><%= issue.name %></strong>
                </div>
            </div>
        <% end %>