<h1>ISSUE</h1>


<button class="A-F">A-F,#</button>
<button class="G-F">G-F</button>
<button class="M-R">M-R</button>
<button class="S-Z">S-Z</button>


      <p>

        <% @issues.to_a.each do |issue| %>
        <%= issue.name %>
        <%#= issue.description.try(:html_safe) %><br>
        <% if issue.image.present? %>
        <%= image_tag(issue.image["small_url"], height: '160', width: '110') %><br>
        <% else %>
        <%= image_tag("no_comic_cover.jpg", height: '160', width: '110')  %><br>
        <% end %>
        Issue #<%= issue.issue_number %><br>
        <% end %>
        </p>
