<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), browse_path %> 
<a href="#footer"><h1>MOVIE</h1></a>

        <% @movies.to_a.each do |movie| %>
            <p>
            <div class="album_container"> 

                <%#= movie.description.try(:html_safe) %>
                <% if movie.image.present? %>
                <%= image_tag(movie.image["small_url"], height: '160', width: '110', class: "album_float_left") %><br>
                <% else %>
                <%= image_tag("no_comic_cover.jpg", height: '160', width: '110', class: "album_float_left")  %><br>
                <% end %>
            </p>

                <div class="album_float_right">
                    <strong><%= movie.name %></strong>
                </div>
            </div>
        <% end %>