<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), browse_path %> 
<a href="#footer"><h1>VOLUME</h1></a>


        <% @volumes.to_a.each do |volume| %>
            <p>
            <div class="album_container"> 

                <%#= volume.description.try(:html_safe) %>
                <% if volume.image.present? %>
                <%= image_tag(volume.image["small_url"], height: '160', width: '110', class: "album_float_left") %><br>
                <% else %>
                <%= image_tag("no_comic_cover.jpg", height: '160', width: '110', class: "album_float_left")  %><br>
                <% end %>
            </p>

                <div class="album_float_right">
                    <strong><%= volume.name %></strong>
                </div>
            </div>
        <% end %>