html {
    position: relative;
    min-height: 100%;


}
body {
    margin: 52px 0 100px; /* bottom = footer height */
    font-family: 'arial', sans-serif;
}

header {
   text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px
}


footer {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow:hidden;
}

nav#menu ul{

  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

nav#menu ul li{
  display: inline-block;
  background-color: white;
  padding: 10px;
}

/*************
* BUBBLE CLOUD *
*************/
a, a:visited {
  color:#333;
}

#text-select {
  float:right;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  text-align: center;
  position: absolute;
  left:50%;
  margin-left:-600px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

/*bubbles background-color*/
.bubble-node {
  /* fill: #d1e0f3; */
  fill: black;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #E8E9E7;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #CEE98F;
  /* stroke: #6081a3; */
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: 'arial', sans-serif;
  color: white;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}



h1 {
  position: fixed;
  top:0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px; 
  margin: 0 auto;
}
/*************
* ALBUM *
*************/
.album_splash {
  width: 100%;
  height: 50%;
}
.album_title {
  font-size: 30px;
  padding-top: 20px;
  margin: 0;
}

.album_blurb{
  font-size: 23px;
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 20px;
/*  margin-top: -13px;*/
}

p {
  margin: 0;
}

.album_heading {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

/*************
* COMIC *
*************/

.comic_container {
  float: left;
  padding-left: 20px;
}

/*comic text*/
span {
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
  float:right;
}

/*comic picture*/
.float_left {
  float: left;
  text-align: center;
}



